---
# defaults file for roles/apache

apache_packages:
  - apache2
  - apache2-ssl-dev
  - ca-certificates
  - openssl

apache_group: www-data
web_root: web
document_root: /home/{{ users.0.name }}/{{ web_root }}
index_file: index.html
vhost_path: /etc/apache2/sites-enabled/
vhost_default_file: "000-default.conf"
vhost_our_file: vhost.conf

html_deploy: true
html_heading: Success !!!
html_body: |
  This HTML page has been deployed using Ansible to <b>{{ ansible_host }}</b>.<br>
  The user is <b>{{ users.0.name }}</b> who is in the <b>{{ apache_group }}</b> group.<br>
  The weboot is <b>{{ document_root }}</b>, the default index file is <b>{{ index_file }}</b>.<br>
